@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Les conditions générales d'utilisation</h1>

<div id="lipsum">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur urna erat, viverra sit amet finibus eget, vehicula ac turpis. Mauris vitae elit aliquam, molestie sapien congue, vehicula diam. Vivamus non posuere augue, et scelerisque ante. Nam aliquet eget ante eget convallis. Sed hendrerit arcu et hendrerit fermentum. Nullam et finibus ex, quis imperdiet lorem. Nulla tristique consectetur felis, in convallis nisi bibendum eget. Integer dapibus convallis mauris eu vehicula. Maecenas massa arcu, congue a lobortis vitae, vestibulum in est. Cras aliquet commodo consequat. Pellentesque iaculis, felis vel scelerisque tincidunt, nisl augue ullamcorper metus, at iaculis magna orci eget velit.
    </p>
    <p>
        Integer finibus leo luctus efficitur rutrum. Morbi facilisis malesuada lacus, quis maximus libero luctus id. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nunc a velit consectetur, maximus velit sit amet, dignissim nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec dignissim, odio in euismod gravida, lorem neque sagittis risus, eu ultrices lacus quam auctor tortor. Vivamus vestibulum sagittis maximus. Morbi mollis eros quis ligula iaculis, quis ullamcorper lorem maximus. Duis mattis iaculis dolor. Ut id ipsum nisi. Nulla scelerisque, tellus sit amet posuere malesuada, turpis tellus condimentum ex, quis elementum nulla ante in nibh. Suspendisse ac nulla quis nibh viverra fringilla eget sed ante. Maecenas rhoncus a massa bibendum venenatis.
    </p>
    <p>
        Nullam sed euismod lacus. Nullam porta vitae neque et hendrerit. Nulla et risus dapibus, faucibus nulla ut, rutrum nisi. Pellentesque malesuada faucibus neque id tincidunt. Morbi quis laoreet felis. Etiam ac tincidunt tortor. In hac habitasse platea dictumst. Ut bibendum, nisl a maximus elementum, nibh velit elementum ligula, ac imperdiet erat purus pretium neque. Fusce sollicitudin gravida vulputate. Nunc convallis blandit mauris ut porta. Aenean sollicitudin luctus eleifend. Duis congue urna eu lectus posuere, gravida posuere sapien tincidunt. Morbi in dolor eu velit egestas imperdiet ut et dui. Nullam quis faucibus ligula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </p>
    <p>
        Aliquam facilisis urna nisl, in imperdiet neque ultrices eu. Donec fermentum purus ut metus eleifend, id interdum sapien elementum. Curabitur eu urna purus. Cras rutrum arcu eros, a ultricies velit fringilla sed. Morbi quis ex fringilla, elementum sem a, iaculis odio. Sed vestibulum erat eget massa laoreet elementum. Quisque varius auctor leo. Vivamus luctus nulla vitae libero pharetra egestas. Pellentesque euismod erat lorem, vitae dignissim lorem vulputate non. Mauris commodo, nisi nec interdum vehicula, odio augue ultrices purus, vel dictum tellus est ac dui. Fusce venenatis faucibus eros sed viverra. Curabitur lectus risus, ornare non cursus in, facilisis at tortor.
    </p>
    <p>
        In laoreet ante lectus, nec dictum quam dignissim et. Duis lobortis nec massa at accumsan. Quisque ultricies mauris felis, a vestibulum odio mattis ut. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean quis velit ultrices, posuere odio ut, sagittis risus. Proin et aliquam tortor, sed congue est. Nunc erat quam, dapibus at turpis eu, suscipit faucibus nunc. Aliquam erat volutpat. Quisque egestas, orci vitae cursus vestibulum, augue ipsum sodales ante, vel feugiat velit velit varius nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam aliquet, leo at rutrum sagittis, velit purus eleifend erat, id egestas mauris elit condimentum magna. Donec nec massa magna. Cras ac orci in nulla lobortis bibendum. Nullam enim lacus, dictum id ultrices eget, suscipit auctor ligula. Etiam ut venenatis velit.
    </p>
    <p>
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Duis vel sagittis enim, pretium pulvinar urna. Sed ac viverra felis. Integer massa lectus, gravida dignissim orci at, elementum cursus metus. Etiam at nunc viverra, pretium mauris at, egestas metus. Aenean volutpat velit vel porttitor pretium. Nullam et massa erat. Suspendisse potenti. Sed nec sem dui. Pellentesque a felis purus. Morbi sollicitudin urna libero, nec sagittis sem efficitur at. Maecenas eget velit varius, vehicula neque a, mattis neque. Maecenas condimentum sodales rhoncus. Integer sagittis leo a nulla blandit, ut facilisis ipsum ullamcorper. Sed convallis nunc ac est sagittis, vitae aliquet ipsum consequat. Curabitur tellus neque, vulputate varius massa sit amet, pellentesque maximus nisi.
    </p>
    <p>
        Cras porta felis nec purus ultrices pretium vitae eget elit. Nunc condimentum velit sit amet tellus interdum vestibulum. Phasellus quis auctor eros, sed aliquet enim. Vestibulum eu nibh auctor, consectetur justo facilisis, cursus magna. Cras et mauris sit amet magna ullamcorper pharetra id laoreet metus. Aliquam orci tortor, pretium at nibh eget, imperdiet pulvinar orci. Nunc eu sem urna. Nullam eu dui commodo, dignissim dui sit amet, hendrerit erat. Aenean sed ipsum lacus. Nam pulvinar porta orci in condimentum. Sed convallis est posuere commodo venenatis. Vestibulum pulvinar finibus tristique.
    </p>
    <p>
        In quis dolor vitae ipsum bibendum scelerisque quis vitae justo. In hac habitasse platea dictumst. Ut lectus elit, facilisis non porta eu, commodo in lorem. Pellentesque neque tortor, ullamcorper at porta ac, convallis maximus est. Cras dapibus, libero sit amet convallis euismod, eros ante varius enim, ut varius justo lorem ac ante. Pellentesque condimentum sodales dapibus. Nunc condimentum eros leo, vel eleifend magna rutrum luctus. Nulla facilisi. Fusce id neque felis. Cras ullamcorper tellus sit amet nunc blandit porttitor. Nunc vulputate, lectus et rhoncus finibus, orci turpis scelerisque sapien, eget laoreet nibh nulla ut nibh. Vivamus diam eros, pretium vel diam quis, pulvinar gravida justo. Proin rutrum eros ipsum, sed dapibus mi sollicitudin at. Quisque enim nibh, ornare faucibus risus nec, tincidunt finibus velit. Nam sed tincidunt sem.
    </p>
    <p>
        Morbi vel accumsan diam, vel placerat mi. Cras faucibus nunc id iaculis scelerisque. Integer tempor orci ante, vitae pharetra diam vestibulum porttitor. Duis euismod sed ex in lacinia. Maecenas fringilla nunc ligula, sed finibus dolor rutrum vitae. Morbi lobortis iaculis leo varius venenatis. Sed sit amet sapien turpis.
    </p>
    <p>
        Aenean tempus tincidunt purus at egestas. Cras tincidunt, ante non blandit porta, ipsum magna semper est, in finibus libero sapien quis sem. Sed lobortis odio nibh, non aliquet ex imperdiet fringilla. Cras magna nunc, sagittis vitae pulvinar vel, mollis sed dui. Nam eu neque vel eros venenatis congue. Vivamus iaculis lacus urna, id vulputate sapien ullamcorper eget. Mauris ac porta elit, a varius leo. Nunc eu ante tempor, viverra arcu et, fermentum risus. Proin scelerisque finibus tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc massa, cursus eget luctus sit amet, pretium non est.
    </p>
</div>