@model MyBlog.ViewModels.ArticlesViewModel

<h1>Liste des articles</h1>

<div class="allArticles">
    @foreach(var article in Model.Articles)
    {
        
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@article.Title</h5>
                <a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id" class="btn btn-primary">Lire plus</a>
            </div>
        </div>
        
    }
</div>